html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

div {
  font: inherit;
}

.landing-img {
  background: url('../images/1.jpg');
  width: 100vw;
  height: 750px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.landing-mask {
  width: 100vw;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.7);
}

.header-text {
  position: absolute;
  z-index: 2;
  top: 32%;
  width: 100%;
  text-align: center;
}

.header,
.hours-header {
  font-size: 7em;
  color: white;
  font-family: 'Lobster', cursive;
}

.header {
  font-size: 7em;
}

hr {
  width: 55%;
}

.header-p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  line-height: 28px;
  color: white;
  max-width: 560px;
  margin: 0 auto;
  padding: 50px 15px 50px 15px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.about-us {
  width: 100vw;
  height: 525px;
}

.about-text {
  max-width: 550px;
}

.about-header h2,
.menu-section h2 {
  font-size: 4em;
  color: black;
  font-family: 'Lobster', cursive;
}

.about-header h2 {
  font-size: 4em;
}

.header span,
.about-header span,
.menu-section span {
  color: #ba1212;
}

.about-text p,
.menu-item-description p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  line-height: 24px;
}

.about-img {
  width: 480px;
  height: 400px;
  background: url('../images/2.jpg');
  margin: 0 auto;
  background-size: cover;
}

div.about-img-mask {
  background-color: rgba(0, 0, 0, 0.4);
  width: 480px;
  height: 400px;
}

.about-text button,
.img-btn {
  width: 120px;
  height: 50px;
  border: 2px solid #ba1212;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s;
}

.about-text button:hover,
.img-btn:hover {
  border: 1px solid #ba1212;
  background-color: #ba1212;
  color: white;
}

.about-text button {
  color: #ba1212;
}

.about-text button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.726), inset 1px -1px 10px black;
}

.img-btn:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.726), inset 3px -3px 10px black;
}

.hours-open {
  background-image: url('../images/open-hours.jpg');
  background-position: 50% 50%;
  background-size: cover;
  height: 55vh;
}

.hours-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 55vh;
}

.hours-open .hours-section {
  padding: 65px 0;
}

.hours-open-text {
  text-align: center;
  margin: 0 15px;
  color: white;
}

.hours-open-text h1 {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 70px;
  margin: 0;
}

.red-underline {
  width: 25%;
  height: 2px;
  background: #ba1212;
  margin: 10px auto 22px auto;
}

.hours-text {
  margin: 5px auto;
}

.hours-text h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin: 0;
  padding-bottom: 25px;
}

.hours-header {
  font-size: 4em;
  margin: 0;
}

#menu {
  text-align: center;
}

.menu-section {
  padding-top: 80px;
  padding-bottom: 40px;
}

.menu-section h4 {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  padding-bottom: 40px;
  margin: 0;
}

.menu-list {
  padding: 15px 0;
}

.menu-items-img {
  min-width: 120px;
  height: 120px;
  background-size: cover;
  background-image: url('../images/food1.jpeg');
  background-position: 50% 50%;
  margin-right: 15px;
}

.menu-items-text {
  margin: 10px auto;
}

.menu-item {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin: 0;
  width: 22%;
  padding-right: 94px;
}

.dotted-border {
  height: 21px;
  border-bottom: dotted 2px black;
  width: 60%;
}

.menu-price {
  width: 12%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.menu-list .col-lg-5 {
  padding: 0;
  width: 38%;
  padding-right: 15px;
}

.menu-item-description p {
  padding-top: 15px;
  text-align: initial;
  color: #777;
}
