html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

div {
  font: inherit;
}

.landing-img {
  background: url('../images/1.jpg');
  width: 100vw;
  height: 750px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.landing-mask {
  width: 100vw;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.7);
}

.header-text {
  position: absolute;
  z-index: 2;
  top: 32%;
  width: 100%;
  text-align: center;
}

.header,
.hours-header,
.reservation-divider-header {
  color: white;
  font-family: 'Lobster', cursive;
}

.header {
  font-size: 7em;
}

hr {
  width: 55%;
}

.header-p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  line-height: 28px;
  color: white;
  max-width: 560px;
  margin: 0 auto;
  padding: 50px 15px 50px 15px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.about-us {
  width: 100vw;
  height: 92vh;
  padding-top: 120px;
}

.about-text {
  max-width: 550px;
}

.about-header h2,
.menu-section h2 {
  font-size: 4em;
  color: black;
  font-family: 'Lobster', cursive;
}

.about-header h2 {
  font-size: 4em;
}

.header span,
.about-header span,
.menu-section span {
  color: #ba1212;
}

.about-text p,
.menu-item-description p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  line-height: 24px;
}

.about-img {
  width: 480px;
  height: 400px;
  background: url('../images/2.jpg');
  margin: 0 auto;
  background-size: cover;
}

div.about-img-mask {
  background-color: rgba(0, 0, 0, 0.4);
  width: 480px;
  height: 400px;
}

.about-text button,
.img-btn,
.book-btn {
  outline: none;
  width: 120px;
  height: 50px;
  border: 2px solid #ba1212;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s;
}

.book-btn {
  width: 85px;
  height: 34px;
  border-radius: 4px;
  margin-top: 18px;
  font-size: 14px;
  color: #ba1212;
}

.about-text button:hover,
.img-btn:hover,
.book-btn:hover {
  border: 1px solid #ba1212;
  background-color: #ba1212;
  color: white;
}

.about-text button {
  color: #ba1212;
  margin-top: 35px;
}

.hours-open,
.reservation-divider {
  background-position: 50% 50%;
  background-size: cover;
  width: 100vw;
  height: 50vh;
}

.hours-open {
  background-image: url('../images/open-hours.jpg');
}

.reservation-divider {
  background-image: url('../images/contact-section.jpg');
}

.hours-overlay,
.reservation-divider-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 50vh;
}

.hours-open .hours-section {
  padding: 22px 0;
}

.hours-open-text,
.reservation-divider-text {
  text-align: center;
  margin: 0 15px;
  color: white;
}

.hours-open-text .red-underline {
  width: 12%;
  height: 4px;
  background: #ba1212;
  margin: 10px auto 50px auto;
}

.hours-text {
  margin: 5px auto;
}

.hours-text h2,
.reservation-text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin: 0;
  padding-bottom: 30px;
}

.hours-open-text .img-btn {
  height: 45px;
  width: 140px;
  margin-top: 10px;
}

.hours-header {
  font-size: 4em;
  margin: 0;
}

#menu {
  text-align: center;
  margin-top: -40px;
}

.menu-section {
  padding-top: 75px;
  padding-left: 60px;
  margin-right: 120px;
  padding-bottom: 50px;
}

.menu-section h2 {
  margin-top: 0;
  padding-top: 10px;
}

.menu-section h4 {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  padding-bottom: 40px;
  margin: 0;
}

.menu-list,
.menu-list-final {
  padding: 18px 0;
}

.menu-items-img {
  min-width: 120px;
  height: 120px;
  background-size: cover;
  background-image: url('../images/food1.jpeg');
  background-position: 50% 50%;
  margin-right: 15px;
}

.item-one {
  background-image: url('../images/food1.jpeg');
}

.item-two {
  background-image: url('../images/food2.jpeg');
}

.item-three {
  background-image: url('../images/food3.jpeg');
}

.item-four {
  background-image: url('../images/food4.jpeg');
}

.item-five {
  background-image: url('../images/food5.jpg');
}

.item-six {
  background-image: url('../images/food6.jpeg');
}

.item-seven {
  background-image: url('../images/food7.jpeg');
}

.item-eight {
  background-image: url('../images/food8.jpeg');
}

.menu-item-text {
  margin-right: 15px;
}

.menu-item {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin: 0;
  text-align: left;
  padding-left: 15px;
  padding-right: 0;
}

.menu-item-one {
  width: 25.8%;
}

.menu-item-two {
  width: 19%;
}

.menu-item-three {
  width: 21%;
}

.menu-item-four {
  width: 18.5%;
}

.menu-item-five {
  width: 28%;
}

.menu-item-six {
  width: 17%;
}

.menu-item-seven {
  width: 20%;
}

.menu-item-eight {
  width: 26%;
}

.dotted-border {
  height: 21px;
  border-bottom: dotted 2px black;
  width: 55%;
  padding: 0;
}

.menu-price {
  width: 12%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.menu-list .col-lg-5,
.menu-list-final .col-lg-5 {
  padding: 0;
  width: 38%;
  padding-right: 15px;
}

.menu-list-final {
  padding-bottom: 0;
}

.menu-item-description p {
  padding-top: 10px;
  text-align: initial;
  color: #777;
  line-height: 22px;
  width: 90%;
}

.reservation-divider-header {
  font-size: 5em;
  margin: 0;
}

.reservation-divider-text .red-underline {
  width: 16%;
  height: 4px;
  background: #ba1212;
  margin: 10px auto 40px auto;
}

.reservation-text p {
  padding: 5px 0;
  font-size: 28px;
}

.reservation-divider .reservation-divider-section {
  padding-top: 25px;
}

#reservations {
  position: relative;
}

.book-reservation {
  padding: 75px 0;
}

.col-lg-4 img {
  width: 100%;
  height: 430px;
}

.reservation-heading h3,
.reservation-heading h2 {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.reservation-heading h3 {
  font-size: 2em;
  margin-top: 0;
}

.reservation-heading h2 {
  font-size: 3em;
}

.reservation-heading span {
  color: #ba1212;
}

.red-underline {
  width: 33%;
  height: 3px;
  background: #ba1212;
  margin: 10px auto 20px auto;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border-radius: 0;
}

.form-group input {
  border: 1px solid #ba1212;
  outline: none;
}

.form-group input:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #ba1212;
}

.time-select,
.party-select {
  border: 1px solid #ba1212;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.time-select {
  background: url('../images/time.png') 2% / 5% no-repeat white;
}

.party-select {
  background: url('../images/group-profile-users.png') 2% / 5% no-repeat white;
}

.time-select select,
.party-select select {
  border-radius: 0;
  outline: none;
  padding-left: 30px;
  margin: 0;
  width: 100%;
  height: 34px;
  background: transparent;
  -webkit-appearance: menulist-text;
  border: 1px solid #ba1212;
}

.icon-attr {
  position: absolute;
  font-size: 8px;
  color: #f0f0f0;
  bottom: 0;
  right: 0;
}

.icon-attr a {
  color: #f0f0f0;
}
